<nav>
  <a myLink="a" >Page A</a>
  <a myLink="b/10" >Page B 10</a>
  <a myLink="b/20" >Page B 20</a>
  <a myLink="c" >Page C</a>
</nav>
<router-outlet/>

<h1>x = {{x()}}</h1>

<button>Hello World</button>
<button>Click Me</button>

<img src="https://media.istockphoto.com/id/510322864/photo/red-sunset.jpg?s=612x612&w=0&k=20&c=XSMKCBQTgVfllBHRMcEVTypBsPJBxROb0fgcZxUuSjE="/>
<img src="https://media.istockphoto.com/id/1494319207/photo/clouds-on-the-sky-sunset-weather.jpg?s=612x612&w=0&k=20&c=cxsby3Dve0TmDU1jzmED5R7J2zOADRQYADc-TcM9SrM="/>
<ul>
  <li>Sunday</li>
  <li>Monday</li>
  <li highlight>Tuesday</li>
  <li>Wednesday</li>
  <li>Thursday</li>
  <li>Friday</li>
  <li>Saturday</li>
</ul>