:host {
    display: flex;
    flex-direction: column;

    nav {
        display: flex;
        flex-direction: row;

        background-color: rgb(219, 239, 245);

        a {
            text-decoration: none;
            padding: 6px;
            color: black;

            &.there {
                background-color: rgb(136, 193, 212);
            }
        }
    }
}